*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
.idea
data
test.py
viewers
submodules/diff-gaussian-rasterization/build/
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info/
submodules/diff-gaussian-rasterization/dist/
submodules/simple-knn/build/
submodules/simple-knn/simple_knn.egg-info/
submodules/simple-knn/dist/
